/* Importação da fonte Special Elite */
@font-face {
  font-family: 'SpecialElite';
  src: url('../static/fonts/SpecialElite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* RESET BÁSICO */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}


:root {
  --primary-color: #1400f3;
  --secondary-color: #070e86;
  --font-color: #ffffff;
  --background-color: #080808;
  --background-color-secondary: #181818;
} 


/* ANIMAÇÕES */
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="down"]{
  transform: translate3d(0, -100%, 0);
}

[data-anime="up"]{
  transform: translate3d(0, 100%, 0);
}

[data-anime="left"]{
  transform: translate3d(-100%, 0, 0);
}

[data-anime="right"]{
  transform: translate3d(50%, 0, 0);
}

[data-anime="fade"]{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-anime].animate{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* ANIMAÇÕES DO CUBO */
#cube-container {
  margin: 90px 225px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  position: flex;
  width: 250px;
  height: 250px;
  transition: 2s cubic-bezier(.68, -0.55, .27, 1.55);
  display: flexbox;
  align-items: center;
  justify-items: center;
  
}

#cube-container .face {
  width: 250px;
  height: 250px;
  position: absolute;
  border: 2px solid var(--primary-color);
  background: var(--background-color);
  box-shadow: 0px 0px 150px var(--primary-color);
}

#cube-container .face.top {
  transform: rotateX(90deg) translateZ(125px);
}

#cube-container .face.right {
  transform: rotateY(90deg) translateZ(125px);
}

#cube-container .face.left {
  transform: rotateY(-90deg) translateZ(125px);
}

#cube-container .face.bottom {
  transform: rotateX(-90deg) translateZ(125px);
}

#cube-container .face.back {
  transform: translateZ(125px);
}

#cube-container .face.front {
  transform: translateZ(-125px);
}

#cube-container:hover {
  transform: rotateX(-25deg) rotateY(-40deg);
  transition: 2s cubic-bezier(.68, -0.55, .27, 1.55);
}



/* BASE GLOBAL */
body {
  font-family: "SpecialElite", system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'SpecialElite';
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* MOBILE (default) */

#imagem-responsive {
  width: 76px; 
  height: 76px; 
  position: fixed;
  left: 20px; 
  top: 10px; 
  z-index: 1000;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  border-radius: 50%;
}

.menu-mobile {
  font-size: 30px;
  width: 48px;
  height: 48px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px; 
  top: 20px; 
  z-index: 9998;
  cursor: pointer;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  border-radius: 50%;
}


/* MENU LATERAL */

#menu-responsive {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 340px;
  /* background: var(--background-color); */

  /* Gradiente do preto (topo/esquerda) para azul (inferior direito) */
  background: linear-gradient(
    to top,       /* direção do gradiente */
    var(--primary-color) 0%,   /* azul no canto inferior esquerdo */
    var(--primary-color) 10%,
    black 26%,               /* transição para preto */
    black 100%               /* preto no canto superior direito */
  );

  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 9997;
}

#menu-responsive .profile img {
  margin: 15px auto;
  margin-left: 15%;
  display: block;
  width: 250px;
  box-shadow: 0px 0px 10px var(--primary-color);
  border-radius: 50%;
}

#menu-responsive h1 {
  font-family: 'SpecialElite';
  font-weight: 400;
  font-size: 2em;
  color: var(--font-color);
  margin-left: 80px;
  
}


/* Icones das redes sociais */
#menu-responsive a i {
  color: var(--primary-color);
  font-size: 42px;
  padding-right: 20px;
  margin-left: 25px;
  
}

i.bi-github:hover,
i.bi-github:active {
  text-shadow: 4px 4px 15px var(--secondary-color);
}

i.bi-linkedin:hover,
i.bi-linkedin:active {
  text-shadow: 4px 4px 15px var(--secondary-color);
}


/* os 3 priemiros links*/
.nav-link-aside:link,
.nav-link-aside:visited {
  background-color: white;
  color: black;
  font-family: 'SpecialElite';
  margin-top: 10px;  
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link-aside:hover,
.nav-link-aside:active {
  color: black;
  text-shadow: 4px 4px 10px #000000;
  font-family: 'SpecialElite';
}


/* o ultimo link*/
.nav-link-aside#hireme:link,
.nav-link-aside#hireme:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  font-family: 'SpecialElite';
  margin-top: 30px;
  font-size: 1.2rem;
}

.nav-link-aside#hireme:hover,
.nav-link-aside#hireme:active {
  background-color: black;
  color: white;
  font-family: 'SpecialElite';
}


body.menu-responsive-active #menu-responsive {
  transform: translateX(0);
}


.header {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: var(--font-color);
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 12%;

}

.main {
  padding: 1rem;
}

.conteiner{
    margin-left: 20px;
    padding-top: 140px;
    box-sizing: border-box;
    width: 380px;
  }


#home-section h2, h1#ami {
  font-family: 'SpecialElite';  
}

#home-section h2 {
  font-weight: 400;
  font-size: 32px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  padding-bottom: 3px;


}

#home-section h1 {
  font-family: 'SpecialElite';
  font-size: 4rem;
  font-weight: bold;
}

#home-section h1#ami {
  font-size: 2rem;
}

#home-section p {
  font-family: 'SpecialElite';
  font-style: italic;
  font-size: 1.2rem;
}

.link {
	color: #000000;	
  display: inline-block;
	font-size: 1.2rem;
	line-height: 1.2;
	outline: none;
	padding: 20px 15%;
  white-space: nowrap;
	position: relative;
	text-decoration: none;
	transition: color 250ms ease;
  margin-left: 15%;
}

.link::before {
	background-color: black;
	border-radius: 100%;
	content: "";
	display: block;
	height: 1rem;
	left: -35px;	
	padding: 1rem;
	position: absolute;
	top: 50%;
	transition: all 250ms ease;
	width: 2rem;
  transform: translateY(-50%); 
}

.link:hover:before {
	border-radius: 5%;
	opacity: 0.9;
	width: 100%;  
  margin-left: 10%;
}

.link:hover {
	color: #fff;
}

.link__text {
	position: relative;
	vertical-align: middle;  
}

#home-section a i{
  color: black;
  font-size: 38px;
  padding-left: 35px;  
}

#dcv{
  font-family: 'SpecialElite';
  font-size: 1.2rem;
  padding-left: 10px;
  padding-right: 20px;
}

#home-section i {
  text-shadow: 4px 4px 15x #000000;    
}

#cube-container {
  margin: 100px 90px;
  padding-bottom: 30px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  position: flex;
  width: 150px;
  height: 150px;
  transition: 2s cubic-bezier(.68, -0.55, .27, 1.55);
  display: flexbox;
  align-items: center;
  justify-items: center;
  
}

#cube-container .face {
  width: 150px;
  height: 150px;
  position: absolute;
  border: 2px solid var(--primary-color);
  background: var(--background-color);
  box-shadow: 0px 0px 150px var(--primary-color);
}

#cube-container .face.top {
  transform: rotateX(90deg) translateZ(75px);
}

#cube-container .face.right {
  transform: rotateY(90deg) translateZ(75px);
}

#cube-container .face.left {
  transform: rotateY(-90deg) translateZ(75px);
}

#cube-container .face.bottom {
  transform: rotateX(-90deg) translateZ(75px);
}

#cube-container .face.back {
  transform: translateZ(75px);
}

#cube-container .face.front {
  transform: translateZ(-75px);
}

#cube-container:hover {
  transform: rotateX(-25deg) rotateY(-40deg);
  transition: 2s cubic-bezier(.68, -0.55, .27, 1.55);
}




/* TABLET */
@media (min-width: 768px) {
  .main {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .main {
    max-width: 960px;
  }

  .menu-mobile  {
    display: none;
  }

  #imagem-responsive {
    display: none;
  }


  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 100;
  }

  #name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: -350px;
    margin-top: 20px;
  } 


  #name-header {
    font-size: 1.8rem;
    color: var(--primary-color);
  }  

  .imagem {
    width: 100px;
    height: 100px;
    margin-left: -160px;
    top: 10px;
    box-shadow: 0px 0px 10px var(--primary-color);
    border-radius: 50%;
  }

  .imagem:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }

  #navbar-header {
    display: flex;
    gap: 2rem;
    margin-right: -100px;
  }

  #navbar-header a{
    font-size: 1.5rem;
    margin-left: 4rem;
    color: var(--font-color);
    font-weight: 500;    
    transition: 0.3s ease-in-out; 
    text-decoration: none;
  }

  #navbar-header a:hover {
    border-bottom: 3px solid var(--primary-color) !important;
    color: var(--primary-color);
  }


  /* Link ativo */
  #navbar-header a.active {
    color: var(--primary-color);   /* muda para a cor primária */
    border-bottom: 3px solid var(--primary-color);
  }

  .conteiner{
    margin-left: 20px;
    padding-top: 280px;
    box-sizing: border-box;
  }

  .conteiner span, h2{
    color: var(--primary-color);
  } 

  #home-section{
    margin: 0;
    min-height: 100vh;    
  }

  #download-cv a{
  color: black;
  font-size: 38px;
  padding-left: 35px;
  margin-left: 240px;
  width: 260px;  
  top: -18px;   
  }

 
 



}