/* dimenções PC */

html, body{
    font-family: 'SpecialElite';
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#img_useterms{
    width: 210px;
    height: auto;
    margin-top: 80px;
    margin-left: 950px;
}

p, h1, h3, h4 {
    text-align-last: center;  /* alinhamento do texto */
  }

p.a{
    text-align-last: left; /* Alinhamento do texto com marcadores */
    margin-left: 700px;
}

.marcador {
    list-style-type: disc; /* Tipo de marcador */
}

.bolinha {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black; /* Cor da bolinha */
    margin-right: 15px; /* Espaçamento entre a bolinha e o texto */
    vertical-align: middle; /* Alinhamento vertical */    
}


.contain{
    margin-bottom: 100px;
}


/* 
    Footer
*/

  footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  #image-footer{
    width: 110px;
    height: auto;
    margin-right: 20px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
  }
  
  .footer-links li {
      display: inline-block;
      margin-right: 15px;
  }
  
  .footer-links li a {
      color: white;
      text-decoration: none;
  }
  
  .footer-links li a:hover {
      text-decoration: underline;
  }